<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="pl">
<body>

<!--
This is a sticky footer. A sticky footer remains pinned to the bottom of the viewport when the content is too short,
but stays beneath the content if there's enough content to scroll.
-->

<footer th:fragment="footer" class="footer mt-auto py-3 pt-5">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link px-2 text-body-secondary">Strona główna</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/game}" class="nav-link px-2 text-body-secondary">Gry</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/team/list}" class="nav-link px-2 text-body-secondary">Drużyny</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/list}" class="nav-link px-2 text-body-secondary">Gracze</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">Compete</p>
    </div>
</footer>

</body>
</html>