<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Turniej ' + ${tournament.name}"></title>
</head>
<body>

<section layout:fragment="content" th:with="
isAdmin=${#authorization.expression('hasRole(''ADMIN'')')},
isOwnerOrAdmin=${isAdmin or #authentication.name == tournament.userOwner.username},
isOwnerOrAdminOrModerator=${isOwnerOrAdmin or tournament.isManagedByUser(#authentication.name)},
isNotFinished=${not tournament.finished}
">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game/' + ${tournament.game.id} + '/tournaments'}" th:text="${tournament.game.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li th:text="${tournament.name}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm text-body-inverted bg-body-inverted">
            <div class="lh-1">
                <h1 th:text="${tournament.name}"></h1>
            </div>
        </div>


        <div th:unless="${isNotFinished}" class="alert alert-warning" role="alert">
            Ten turniej jest zakończony.
            <br>
            Funkcje edycji turnieju, dodawania meczów i drużyn, a także usuwania meczów są wyłączone.
        </div>


        <div th:if="${isOwnerOrAdmin}" class="my-3 p-3 bg-body rounded shadow">

            <h3 class="border-bottom pb-1">
                Panel zarządzania turniejem
            </h3>


            <div class="row">

                <div class="col-md-4">

                    <table class="table caption-top">

                        <caption class="text-center">
                            <h6>Akcje</h6>
                        </caption>

                        <tr>
                            <td>Turniej</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <form th:if="${isNotFinished}"
                                          th:action="@{'/tournament/' + ${tournament.id} + '/edit'}"
                                          method="get" class="m-0">
                                        <input type="submit" value="Edytuj" class="btn btn-secondary btn-sm"/>
                                    </form>
                                    <form th:action="@{'/tournament/' + ${tournament.id} + '/delete'}" method="post"
                                          class="m-0">
                                        <input type="submit" value="Usuń" class="btn btn-danger btn-sm"/>
                                    </form>
                                    <form th:if="${isNotFinished}" method="post" class="m-0"
                                          th:action="@{'/tournament/' + ${tournament.id} + '/set-as-finished'}">
                                        <input type="submit" value="Zakończ" class="btn btn-success btn-sm"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Lokalizacja</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <form th:if="${tournament.location == null}"
                                          th:action="@{'/tournament/' + ${tournament.id} + '/new/location'}"
                                          method="get">
                                        <input type="submit" value="Dodaj"
                                               class="btn btn-primary btn-sm"/>
                                    </form>
                                    <form th:if="${tournament.location != null}"
                                          th:action="@{'/tournament/' + ${tournament.id} + '/edit/location'}"
                                          method="get" class="m-0">
                                        <input type="submit" value="Edytuj"
                                               class="btn btn-secondary btn-sm"/>
                                    </form>
                                    <form th:if="${tournament.location != null}"
                                          th:action="@{'/tournament/' + ${tournament.id} + '/delete/location'}"
                                          method="post" class="m-0">
                                        <input type="submit" value="Usuń"
                                               class="btn btn-danger btn-sm"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${isNotFinished}">
                            <td>Drużyny</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <form th:action="@{'/tournament/' + ${tournament.id} + '/team/add'}"
                                          method="get" class="m-0">
                                        <input type="submit" value="Aplikuj"
                                               class="btn btn-primary btn-sm"/>
                                    </form>
                                    <form th:if="${isOwnerOrAdminOrModerator}"
                                          th:action="'/tournament/' + ${tournamentId} + '/recount-team-scores'"
                                          method="post" class="m-0">
                                        <input type="submit" value="Przelicz punkty"
                                               class="btn btn-primary btn-sm"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${isNotFinished}">
                            <td>Mecze</td>
                            <td>
                                <form th:action="@{'/tournament/' + ${tournament.id} + '/new/match'}" method="get">
                                    <input type="submit" value="Dodaj" class="btn btn-primary btn-sm"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Ogłoszenia</td>
                            <td>
                                <a th:if="${isOwnerOrAdmin}"
                                   th:href="@{'/tournament/' + ${tournament.id} + '/announcement/new'}"
                                   class="btn btn-primary btn-sm">Dodaj</a>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="col-md-4">

                    <table class="table caption-top">

                        <caption class="text-center">
                            <h6>Tajne kody</h6>
                        </caption>

                        <tr>
                            <td>Kod dla zarządzających turniejem:</td>
                            <td><code th:text="${{tournament.manageSecretCode}}"></code></td>
                        </tr>
                        <tr>
                            <td>Kod dla dołączających drużyn:</td>
                            <td><code th:text="${{tournament.joinSecretCode}}"></code></td>
                        </tr>

                    </table>
                    <form th:action="@{'/tournament/' + ${tournament.id} + '/regenerate-secret-codes'}"
                          method="post" class="m-0">
                        <input type="submit" value="Wygeneruj ponownie tajne kody" class="btn btn-link"/>
                    </form>

                </div>

                <div class="col-md-4">

                    <table class="table caption-top">

                        <caption class="text-center">
                            <h6>Moderatorzy</h6>
                        </caption>

                        <tr th:each="moderator: ${tournament.usersManaging}">
                            <td th:text="${{moderator.username}}"/>
                            <td class="text-end">
                                <form th:action="@{'/tournament/' + ${tournamentId} + '/moderator/remove/' + ${moderator.id}}"
                                      method="post">
                                    <input type="submit" value="Usuń" class="btn btn-danger btn-sm"/>
                                </form>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>


        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h5 class="border-bottom pb-2 mb-0">Opis</h5>
            <p th:text="${{tournament.description}}"/>
        </div>


        <div class="row">

            <div class="col-md-9">
                <div class="my-3 p-3 bg-body rounded shadow-sm table-responsive">
                    <h2>Drużyny – tabela wyników</h2>

                    <table class="table table-hover align-middle">
                        <thead>
                        <tr>
                            <th>Miejsce</th>
                            <th>Nazwa</th>
                            <th>Punkty</th>
                            <th th:if="${isOwnerOrAdmin}">
                                Akcje
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr th:each="teamRegistration, iterStat: ${sortedTeamRegistrations}">
                            <th th:text="${iterStat.index + 1}"/>
                            <td>
                                <a th:href="@{'/team/' + ${teamRegistration.team.id}}"
                                   th:text="${{teamRegistration.team.name}}"></a>
                            </td>
                            <td th:text="${{teamRegistration.scoreSum}}"/>

                            <td th:if="${isOwnerOrAdmin}">
                                <form th:action="@{'/tournament/' + ${tournamentId} + '/team/remove/' + ${teamRegistration.id}}"
                                      method="post" class="m-0">
                                    <input type="submit" value="Usuń" class="btn btn-danger btn-sm "/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="d-flex gap-2">
                        <form sec:authorize="isAuthenticated()" th:if="${isNotFinished}"
                              th:action="@{'/tournament/' + ${tournament.id} + '/team/add'}"
                              method="get" class="m-0">
                            <input type="submit" value="Aplikuj drużyną" class="btn btn-link"/>
                        </form>
                        <form th:if="${isOwnerOrAdminOrModerator and isNotFinished}"
                              th:action="'/tournament/' + ${tournamentId} + '/recount-team-scores'"
                              method="post" class="m-0">
                            <input type="submit" value="Przelicz punkty" class="btn btn-link"/>
                        </form>
                    </div>

                </div>
            </div>


            <div class="col-md-3">

                <div class="my-3 p-3 bg-body rounded shadow-sm table-responsive">
                    <table class="table table-sm caption-top">

                        <caption><h5>Podstawowe dane</h5></caption>

                        <tr>
                            <th>Właściciel:</th>
                            <td>
                                <a th:text="${{tournament.userOwner.username}}"
                                   th:href="@{'/user/' + ${tournament.userOwner.id}}"></a>
                            </td>
                        </tr>
                        <tr>
                            <th>Gra:</th>
                            <td>
                                <a th:text="${{tournament.game.name}}"
                                   th:href="@{'/game/' + ${tournament.game.id} + '/tournaments'}"></a>
                            </td>
                        </tr>
                        <tr>
                            <th>Data:</th>
                            <td th:if="${tournament.endDate} != null"
                                th:text="${{tournament.startDate}} + ' – ' + ${{tournament.endDate}}"></td>
                            <td th:if="${tournament.endDate} == null"
                                th:text="${{tournament.startDate}}"></td>
                        </tr>
                    </table>

                    <div sec:authorize="isAuthenticated()" th:unless="${isOwnerOrAdminOrModerator}">
                        <a th:href="@{'/tournament/' + ${tournamentId} + '/moderator/apply'}">
                            Aplikuj jako moderator
                        </a>
                    </div>
                </div>

                <div class="my-3 p-3 bg-body rounded shadow-sm table-responsive">
                    <div th:if="${tournament.location != null}">
                        <table th:if="${tournament.location} != null" class="table table-sm caption-top">

                            <caption><h5>Lokalizacja</h5></caption>

                            <tr>
                                <th>Kraj:</th>
                                <td th:text="${{tournament.location.country}}"/>
                            </tr>
                            <tr>
                                <th>Kod pocztowy:</th>
                                <td th:text="${{tournament.location.postalCode}}"/>
                            </tr>
                            <tr>
                                <th>Miasto:</th>
                                <td th:text="${{tournament.location.city}}"/>
                            </tr>
                            <tr>
                                <th>Ulica:</th>
                                <td th:text="${{tournament.location.street}}"/>
                            </tr>
                            <tr>
                                <th>Numer domu:</th>
                                <td th:text="${{tournament.location.houseNumber}}"/>
                            </tr>
                        </table>
                    </div>

                    <div th:if="${tournament.location} == null">
                        Ten turniej nie ma zapisanej lokalizacji.
                        <br>
                        <a th:if="${isOwnerOrAdmin}" th:href="@{'/tournament/' + ${tournament.id} + '/new/location'}">
                            Dodaj lokalizacje
                        </a>
                    </div>
                </div>

            </div>


        </div>


        <div th:unless="${tournament.announcements.isEmpty()}" class="my-3 p-3 bg-body rounded shadow-sm">
            <h2>Ogłoszenia</h2>

            <ul class="list-group">
                <li class="list-group-item" th:each="announcement : ${tournament.announcements}">
                    <h5 th:text="${{announcement.title}}"></h5>
                    <h6 th:text="${{announcement.creationDate}}"></h6>
                    <p th:text="${{announcement.description}}"></p>

                    <div th:if="${isOwnerOrAdmin}">
                        <form th:action="@{'/tournament/' + ${tournamentId} + '/announcement/delete/' + ${announcement.id}}"
                              method="post" class="m-0">
                            <input type="submit" value="Usuń" class="btn btn-link"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>


        <div class="my-3 p-3 bg-body rounded shadow-sm table-responsive">
            <h2>Mecze</h2>

            <div th:if="${isOwnerOrAdminOrModerator and isNotFinished}">
                <form th:action="@{'/tournament/' + ${tournament.id} + '/new/match'}" method="get">
                    <input type="submit" value="Dodaj nowy mecz" class="btn btn-link"/>
                </form>
            </div>

            <table class="table table-hover align-middle">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Drużyna 1</th>
                    <th>Wynik drużyny 1</th>
                    <th>Drużyna 2</th>
                    <th>Wynik drużyny 2</th>
                    <th th:if="${isOwnerOrAdminOrModerator and isNotFinished}">
                        Akcje
                    </th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="match: ${sortedMatches}">
                    <td th:text="${{match.date}}"/>
                    <td>
                        <a th:href="@{'/team/' + ${match.tournamentTeam1.team.id}}"
                           th:text="${{match.tournamentTeam1.team.name}}"></a>
                    </td>
                    <td th:text="${{match.team1Score}}"/>
                    <td>
                        <a th:href="@{'/team/' + ${match.tournamentTeam2.team.id}}"
                           th:text="${{match.tournamentTeam2.team.name}}"></a>
                    </td>
                    <td th:text="${{match.team2Score}}"/>

                    <td th:if="${isOwnerOrAdminOrModerator and isNotFinished}">
                        <div class="d-flex gap-2">
                            <form th:action="@{'/match/' + ${match.id} + '/edit'}" method="get" class="m-0">
                                <input type="submit" value="Edytuj" class="btn btn-secondary btn-sm"/>
                            </form>
                            <form th:action="@{'/match/' + ${match.id} + '/delete'}" method="post" class="m-0">
                                <input type="submit" value="Usuń" class="btn btn-danger btn-sm"/>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</section>
</body>
</html>