<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Edytowanie lokalizacji turnieju ' + ${tournament.name}" ></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game/' + ${tournament.game.id}}" th:text="${tournament.game.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/tournament/' + ${tournament.id}}" th:text="${tournament.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li th:text="${'Edytowanie lokalizacji'}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <h1 th:text="'Edytuj lokalizację do turnieju ' + ${{tournament.name}}" ></h1>

        <form action="#" th:action="@{'/tournament/' + ${tournament.id} + '/edit/location' }" th:object="${locationCreationDto}"
              method="post">
            <table>
                <tr>
                    <td>Kraj:</td>
                    <td><input type="text" th:field="*{country}"/></td>
                    <td th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Błąd w kraju</td>
                </tr>
                <tr>
                    <td>Kod pocztowy:</td>
                    <td><input type="text" th:field="*{postalCode}"/></td>
                    <td th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Błąd w kodzie pocztowym</td>
                </tr>
                <tr>
                    <td>Miasto:</td>
                    <td><input type="text" th:field="*{city}"/></td>
                    <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Błąd w mieście</td>
                </tr>
                <tr>
                    <td>Ulica:</td>
                    <td><input type="text" th:field="*{street}"/></td>
                    <td th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Błąd w ulicy</td>
                </tr>
                <tr>
                    <td>Numer domu:</td>
                    <td><input type="text" th:field="*{houseNumber}"/></td>
                    <td th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}">Błąd w numerze domu</td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Dodaj lokalizację</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</section>
</body>
</html>