<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Turniej ' + ${tournament.name}"></title>
</head>
<body>

<section layout:fragment="content" th:with="
isAdmin=${#authorization.expression('hasRole(''ADMIN'')')},
isOwnerOrAdmin=${isAdmin or #authentication.name == tournament.userOwner.username},
isOwnerOrAdminOrModerator=${isOwnerOrAdmin or tournament.isManagedByUser(#authentication.name)},
isNotFinished=${not tournament.finished}
">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game/' + ${tournament.game.id} + '/tournaments'}" th:text="${tournament.game.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li th:text="${tournament.name}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <h1><span th:text="${tournament.name}"/></h1>


        <div th:unless="${isNotFinished}" class="alert alert-warning" role="alert">
            Ten turniej jest zakończony.
            <br>
            Funkcje dodawania meczów i drużyn, a także usuwania meczów są wyłączone.
        </div>


        <div th:if="${isOwnerOrAdmin}">

            <div class="card">
                <div class="card-header">
                    <h5>Zarządzaj turniejem</h5>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">

                            <h3>Kody turnieju</h3>

                            <table class="table">
                                <tr>
                                    <th>Kod dla zarządzających turniejem:</th>
                                    <td><code th:text="${{tournament.manageSecretCode}}"></code></td>
                                </tr>
                                <tr>
                                    <th>Kod dla dołączających drużyn:</th>
                                    <td><code th:text="${{tournament.joinSecretCode}}"></code></td>
                                </tr>
                            </table>
                            <form th:action="@{'/tournament/' + ${tournament.id} + '/regenerate-secret-codes'}"
                                  method="post"
                                  class="m-0">
                                <input type="submit" value="Wygeneruj ponownie tajne kody"
                                       class="btn btn-warning btn-sm"/>
                            </form>

                        </div>
                        <div class="col-md-6">

                            <h3>Moderatorzy turnieju</h3>

                            <table class="table">
                                <tr th:each="moderator: ${tournament.usersManaging}">
                                    <td th:text="${{moderator.username}}"/>
                                    <td>
                                        <form th:action="@{'/tournament/' + ${tournamentId} + '/moderator/remove/' + ${moderator.id}}"
                                              method="post">
                                            <input type="submit" value="Usuń" class="btn btn-outline-danger btn-sm"/>
                                        </form>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <h2>Podstawowe dane</h2>

                <table class="table">
                    <tr>
                        <th>Właściciel:</th>
                        <td>
                            <a th:text="${{tournament.userOwner.username}}"
                               th:href="@{'/user/' + ${tournament.userOwner.id}}"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Data rozpoczęcia:</th>
                        <td th:text="${{tournament.startDate}}"/>
                    </tr>
                    <tr>
                        <th>Data zakończenia:</th>
                        <td>
                            <span th:if="${tournament.endDate} != null" th:text="${{tournament.endDate}}"></span>
                        </td>
                    </tr>
                </table>

                <div th:if="${isOwnerOrAdmin}" class="d-flex gap-2">
                    <form th:action="@{'/tournament/' + ${tournament.id} + '/edit'}" method="get" class="m-0">
                        <input type="submit" value="Edytuj turniej" class="btn btn-secondary btn-sm"/>
                    </form>
                    <form th:action="@{'/tournament/' + ${tournament.id} + '/delete'}" method="post" class="m-0">
                        <input type="submit" value="Usuń turniej" class="btn btn-danger btn-sm"/>
                    </form>
                    <form th:if="${isNotFinished}" method="post" class="m-0"
                          th:action="@{'/tournament/' + ${tournament.id} + '/set-as-finished'}">
                        <input type="submit" value="Zakończ turniej" class="btn btn-success btn-sm"/>
                    </form>
                </div>

                <div sec:authorize="isAuthenticated()" th:unless="${isOwnerOrAdminOrModerator}">
                    <a th:href="@{'/tournament/' + ${tournamentId} + '/moderator/apply'}"
                       class="btn btn-primary btn-sm">
                        Aplikuj jako moderator do tego turnieju.
                    </a>
                </div>
            </div>

            <div class="col-md-4">

                <h2>Lokalizacja</h2>

                <div th:if="${tournament.location != null}">
                    <table th:if="${tournament.location} != null" class="table">
                        <tr>
                            <th>Kraj:</th>
                            <td th:text="${{tournament.location.country}}"/>
                        </tr>
                        <tr>
                            <th>Kod pocztowy:</th>
                            <td th:text="${{tournament.location.postalCode}}"/>
                        </tr>
                        <tr>
                            <th>Miasto:</th>
                            <td th:text="${{tournament.location.city}}"/>
                        </tr>
                        <tr>
                            <th>Ulica:</th>
                            <td th:text="${{tournament.location.street}}"/>
                        </tr>
                        <tr>
                            <th>Numer domu:</th>
                            <td th:text="${{tournament.location.houseNumber}}"/>
                        </tr>
                    </table>

                    <div class="d-flex gap-2">
                        <form th:if="${isOwnerOrAdmin}"
                              th:action="@{'/tournament/' + ${tournament.id} + '/edit/location'}"
                              method="get" class="m-0">
                            <input type="submit" value="Edytuj lokalizacje" class="btn btn-secondary btn-sm"/>
                        </form>
                        <form th:if="${isOwnerOrAdmin}"
                              th:action="@{'/tournament/' + ${tournament.id} + '/delete/location'}"
                              method="post" class="m-0">
                            <input type="submit" value="Usuń lokalizacje" class="btn btn-danger btn-sm"/>
                        </form>
                    </div>


                </div>

                <div th:if="${tournament.location} == null">
                    Ten turniej nie ma zapisanej lokalizacji.

                    <form th:if="${isOwnerOrAdmin}" th:action="@{'/tournament/' + ${tournament.id} + '/new/location'}"
                          method="get">
                        <input type="submit" value="Dodaj lokalizacje" class="btn btn-primary"/>
                    </form>
                </div>
            </div>

            <div class="col-md-4">

                <h2>Opis</h2>

                <p th:text="${{tournament.description}}"/>

            </div>
        </div>


        <h2>Ogłoszenia</h2>

        <p>
            <a th:if="${isOwnerOrAdmin}" th:href="@{'/tournament/' + ${tournament.id} + '/announcement/new'}"
               class="btn btn-primary btn-sm">Dodaj ogłoszenie</a>
        </p>


        <ul class="list-group">
            <li class="list-group-item" th:each="announcement : ${tournament.announcements}">
                <h5 th:text="${{announcement.title}}"></h5>
                <h6 th:text="${{announcement.creationDate}}"></h6>

                <div th:if="${isOwnerOrAdmin}">
                    <form th:action="@{'/tournament/' + ${tournamentId} + '/announcement/delete/' + ${announcement.id}}"
                          method="post" class="m-0">
                        <input type="submit" value="Usuń" class="btn btn-outline-danger btn-sm "/>
                    </form>
                </div>

                <p th:text="${{announcement.description}}"></p>
            </li>
        </ul>


        <h2>Drużyny</h2>

        <div th:if="${isOwnerOrAdminOrModerator}" class="d-flex gap-2">
            <form sec:authorize="isAuthenticated()" th:if="${isNotFinished}"
                  th:action="@{'/tournament/' + ${tournament.id} + '/team/add'}"
                  method="get" class="m-0">
                <input type="submit" value="Aplikuj drużyną" class="btn btn-primary"/>
            </form>
            <form th:if="${isOwnerOrAdminOrModerator and isNotFinished}"
                  th:action="'/tournament/' + ${tournamentId} + '/recount-team-scores'"
                  method="post" class="m-0">
                <input type="submit" value="Przelicz punkty" class="btn btn-primary"/>
            </form>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Punkty</th>
                <th th:if="${isOwnerOrAdmin}">
                    Akcje
                </th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="teamRegistration: ${sortedTeamRegistrations}">
                <td>
                    <a th:href="@{'/team/' + ${teamRegistration.team.id}}"
                       th:text="${{teamRegistration.team.name}}"></a>
                </td>
                <td th:text="${{teamRegistration.scoreSum}}"/>

                <td th:if="${isOwnerOrAdmin}">
                    <form th:action="@{'/tournament/' + ${tournamentId} + '/team/remove/' + ${teamRegistration.id}}"
                          method="post" class="m-0">
                        <input type="submit" value="Usuń" class="btn btn-outline-danger btn-sm "/>
                    </form>
                </td>
            </tr>
            </tbody>

        </table>


        <h2>Mecze</h2>

        <div th:if="${isOwnerOrAdminOrModerator and isNotFinished}">
            <form th:action="@{'/tournament/' + ${tournament.id} + '/new/match'}" method="get">
                <input type="submit" value="Dodaj nowy mecz" class="btn btn-primary"/>
            </form>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Drużyna 1</th>
                <th>Wynik drużyny 1</th>
                <th>Drużyna 2</th>
                <th>Wynik drużyny 2</th>
                <th th:if="${isOwnerOrAdminOrModerator and isNotFinished}">
                    Akcje
                </th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="match: ${sortedMatches}">
                <td>
                    <a th:text="'[' + ${{match.id}} + ']'"></a>
                </td>
                <td th:text="${{match.date}}"/>
                <td>
                    <a th:href="@{'/team/' + ${match.tournamentTeam1.team.id}}"
                       th:text="${{match.tournamentTeam1.team.name}}"></a>
                </td>
                <td th:text="${{match.team1Score}}"/>
                <td>
                    <a th:href="@{'/team/' + ${match.tournamentTeam2.team.id}}"
                       th:text="${{match.tournamentTeam2.team.name}}"></a>
                </td>
                <td th:text="${{match.team2Score}}"/>

                <td th:if="${isOwnerOrAdminOrModerator and isNotFinished}">
                    <!--
                    d-flex makes the container flex (horizontal)
                    gap-2 adds spacing between buttons
                    m-0 removes margins from forms
                    -->
                    <div class="d-flex gap-2">
                        <form th:action="@{'/match/' + ${match.id} + '/edit'}" method="get" class="m-0">
                            <input type="submit" value="Edytuj" class="btn btn-outline-secondary btn-sm"/>
                        </form>
                        <form th:action="@{'/match/' + ${match.id} + '/delete'}" method="post" class="m-0">
                            <input type="submit" value="Usuń" class="btn btn-outline-danger btn-sm"/>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
</body>
</html>