<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Dodawanie lokalizacji do ' + ${tournament.name}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game/' + ${tournament.game.id} + '/tournaments'}" th:text="${tournament.game.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/tournament/' + ${tournament.id}}" th:text="${tournament.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li th:text="${'Dodawanie lokalizacji'}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 my-3 p-3 bg-body rounded shadow-sm">

                <form action="#" th:action="@{'/tournament/' + ${tournament.id} + '/new/location' }"
                      th:object="${locationCreationDto}"
                      method="post">

                    <h1 th:text="'Dodaj lokalizację do turnieju ' + ${{tournament.name}}"
                        class="h3 mb-3 fw-normal text-center"></h1>


                    <div class="form-group mb-3">
                        <label for="country">Kraj</label>
                        <input type="text" th:field="*{country}" id="country" class="form-control"/>
                        <ul class="text-danger">
                            <li th:each="err: ${#fields.errors('country')}" th:text="${err}"></li>
                        </ul>
                    </div>


                    <div class="form-group mb-3">
                        <label for="postalCode">Kod pocztowy</label>
                        <input type="text" th:field="*{postalCode}" id="postalCode" class="form-control"/>
                        <ul class="text-danger">
                            <li th:each="err: ${#fields.errors('postalCode')}" th:text="${err}"></li>
                        </ul>
                    </div>


                    <div class="form-group mb-3">
                        <label for="city">Miasto</label>
                        <input type="text" th:field="*{city}" id="city" class="form-control"/>
                        <ul class="text-danger">
                            <li th:each="err: ${#fields.errors('city')}" th:text="${err}"></li>
                        </ul>
                    </div>


                    <div class="form-group mb-3">
                        <label for="street">Ulica</label>
                        <input type="text" th:field="*{street}" id="street" class="form-control"/>
                        <ul class="text-danger">
                            <li th:each="err: ${#fields.errors('street')}" th:text="${err}"></li>
                        </ul>
                    </div>


                    <div class="form-group mb-3">
                        <label for="houseNumber">Numer domu</label>
                        <input type="text" th:field="*{houseNumber}" id="houseNumber" class="form-control"/>
                        <ul class="text-danger">
                            <li th:each="err: ${#fields.errors('houseNumber')}" th:text="${err}"></li>
                        </ul>
                    </div>

                    <button class="btn btn-primary w-100" type="submit">Dodaj lokalizację</button>

                </form>

            </div>
        </div>


    </div>
</section>
</body>
</html>