<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Turnieje ' + ${game.name}"></title>
</head>
<body>

<section layout:fragment="content">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li th:text="${game.name}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <h1 th:text="'Lista turniejów ' + ${{game.name}}"></h1>

        <p th:if="${tournaments.isEmpty()}">Ta gra nie ma jeszcze żadnych turniejów.</p>

        <form th:action="@{'/game/' + ${gameId} + '/tournaments'}" method="get" autocomplete="off">

            <div class="row">
                <div class="col-md-3">
                    <label for="tournamentName" class="form-label">Nazwa turnieju</label>
                    <input type="text" th:name="tournamentName" name="tournamentName" id="tournamentName"
                           class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="ownerUsername" class="form-label">Nazwa właściciela</label>
                    <input type="text" th:name="ownerUsername" name="ownerUsername" id="ownerUsername"
                           class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="afterDate" class="form-label">Rozpoczęty po dacie (włącznie)</label>
                    <input type="date" th:name="afterDate" name="afterDate" id="afterDate"
                           class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="beforeDate" class="form-label">Rozpoczęty przed datą (włącznie)</label>
                    <input type="date" th:name="beforeDate" name="beforeDate" id="beforeDate"
                           class="form-control">
                </div>
            </div>


            <button type="submit" class="btn btn-primary mt-3">Szukaj</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Właściciel</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tournament: ${tournaments}" th:classappend="${tournament.finished} ? 'table-secondary'">
                <td>
                    <a th:href="@{'/tournament/' + ${tournament.id}}" th:text="${{tournament.name}}"></a>
                </td>
                <td>
                    <a th:href="@{'/user/' + ${tournament.userOwner.id}}"
                       th:text="${{tournament.userOwner.username}}"></a>
                </td>
                <td th:text="${{tournament.startDate}}"/>
                <td th:text="${{tournament.endDate}}"/>
                <td th:text="${tournament.finished} ? 'Zakończony' : 'Otwarty'"></td>
            </tr>
            </tbody>

        </table>

        <!-- * Requires totalPages and currentPage model attributes to be passed * -->
        <nav th:replace="~{fragments/pagination::pagination}" ></nav>

    </div>
</section>
</body>
</html>