<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Aplikowanie na moderatora do ' + ${{tournament.name}}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game/' + ${tournament.game.id} + '/tournaments'}" th:text="${tournament.game.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/tournament/' + ${tournament.id}}" th:text="${tournament.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li th:text="${'Dołączanie jako moderator'}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 my-3 p-3 bg-body rounded shadow-sm">

                <form action="#" th:action="@{'/tournament/' + ${tournament.id} + '/moderator/apply' }"
                      th:object="${secretCodeDto}" method="post">

                    <h1 class="h3 mb-3 fw-normal text-center">Dołącz jako moderator</h1>

                    <div class="form-group mb-3">
                        <label for="secretCode">Tajny kod</label>
                        <input type="text" th:field="*{secretCode}" id="secretCode" class="form-control"/>
                        <ul class="text-danger">
                            <li th:each="err: ${#fields.errors('secretCode')}" th:text="${err}"></li>
                        </ul>
                    </div>

                    <button class="btn btn-primary w-100" type="submit">Dołącz jako moderator</button>

                </form>

            </div>
        </div>

    </div>
</section>
</body>
</html>