<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Dodawanie meczu do ' + ${tournament.name}" ></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game/' + ${tournament.game.id} + '/tournaments'}" th:text="${tournament.game.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/tournament/' + ${tournament.id}}" th:text="${tournament.name}"
                       class="link-body-emphasis fw-semibold text-decoration-none"></a>
                </li>
                <li th:text="${'Dodawanie meczu'}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <h1 th:text="'Dodaj mecz do turnieju ' + ${{tournament.name}}" ></h1>

        <form action="#" th:action="@{'/tournament/' + ${tournament.id} + '/new/match' }" th:object="${matchCreationDto}"
              method="post">
            <input type="hidden" th:field="*{tournamentId}" /> <!-- ! important, otherwise it isn't passed to validation -->
            <table>

                <tr>
                    <td>Data:</td>
                    <td><input type="date" th:field="*{date}"/></td>
                    <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Błąd w dacie</td>
                </tr>

                <tr>
                    <td>Drużyna 1:</td>
                    <td>
                        <select th:field="*{tournamentTeam1Id}" >
                            <option
                                    th:each="teamRegistration: ${tournament.teamRegistrations}"
                                    th:text="${teamRegistration.team.name}"
                                    th:value="${teamRegistration.id}"
                            ></option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('tournamentTeam1Id')}" th:errors="*{tournamentTeam1Id}">Błąd w ID drużyny 1</td>
                </tr>

                <tr>
                    <td>Wynik drużyny 1:</td>
                    <td><input type="number" th:field="*{team1Score}"/></td>
                    <td th:if="${#fields.hasErrors('team1Score')}" th:errors="*{team1Score}">Błąd w wyniku drużyny 1</td>
                </tr>

                <tr>
                    <td>Drużyna 2:</td>
                    <td>
                        <select th:field="*{tournamentTeam2Id}" >
                            <option
                                    th:each="teamRegistration: ${tournament.teamRegistrations}"
                                    th:text="${teamRegistration.team.name}"
                                    th:value="${teamRegistration.id}"
                            ></option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('tournamentTeam1Id')}" th:errors="*{tournamentTeam1Id}">Błąd w ID drużyny 2</td>
                </tr>

                <tr>
                    <td>Wynik drużyny 2:</td>
                    <td><input type="number" th:field="*{team2Score}"/></td>
                    <td th:if="${#fields.hasErrors('team2Score')}" th:errors="*{team2Score}">Błąd w wyniku drużyny 2</td>
                </tr>

                <tr>
                    <td>
                        <button type="submit">Utwórz mecz</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</section>
</body>
</html>