.bg-body-inverted {
    background-color: var(--bs-body-color) !important;
}
.text-body-inverted {
    color: var(--bs-body-bg) !important;
}


/*
Source of the theme below: https://uiverse.io/catraco/new-dolphin-11
Modified to fit the theme-switch.js script
 */

/*------ Settings ------*/
.theme-switch-container {
    --color: #fff5f3;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.theme-switch-container .sun {
    position: absolute;
}

.theme-switch-container .moon {
    position: absolute;
    display: none;
}

/* ------ On check event ------ */
.theme-switch-container input:checked ~ .sun {
    display: none;
}

.theme-switch-container input:checked ~ .moon {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.theme-switch-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}