<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title>Gry</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container" th:with="isAdmin=${#authorization.expression('hasRole(''ADMIN'')')}" >

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Gry</li>
            </ol>
        </nav>

        <h1>Lista gier</h1>

        <div class="my-3 p-3 bg-body rounded shadow-sm">

            <p th:if="${games.isEmpty()}">Nie ma żadnych gier.</p>

            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game: ${games}">
                    <td>
                        <a th:href="@{'/game/' + ${game.id} + '/tournaments'}" th:text="${{game.name}}" ></a>
                    </td>
                    <td th:text="${{game.description}}"/>
                </tr>
                </tbody>

            </table>
        </div>

    </div>
</section>
</body>
</html>