<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title>Dodawanie gry</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/game'}" class="link-body-emphasis fw-semibold text-decoration-none">Gry</a>
                </li>
                <li th:text="'Dodawanie gry'" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <h1>Dodaj grę</h1>

        <form action="#" th:action="@{'/game/new'}" th:object="${gameCreationDto}"
              method="post">
            <table>
                <tr>
                    <td>Nazwa:</td>
                    <td><input type="text" th:field="*{name}"/></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błąd w nazwie</td>
                </tr>
                <tr>
                    <td>Opis:</td>
                    <td><input type="text" th:field="*{description}"/></td>
                    <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Błąd w opisie</td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Utwórz grę</button>
                    </td>
                </tr>
            </table>
        </form>


    </div>
</section>
</body>
</html>