<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="pl">
<head>
    <title>Dodawanie drużyny</title>
</head>
<body>
<h1 th:text="'Dodaj drużynę do turnieju ' + ${{tournament.name}}"></h1>

<form action="#" th:action="@{'/tournament/' + ${tournament.id} + '/team/add' }"
      th:object="${tournamentTeamCreationDto}" method="post">
    <table>
        <tr>
            <td>Tajny kod:</td>
            <td><input type="text" th:field="*{secretCode}"/></td>
            <td th:if="${#fields.hasErrors('secretCode')}" th:errors="*{secretCode}">Błąd w tajnym kodzie</td>
        </tr>
        <tr>
            <td>Drużyna:</td>
            <td>
                <select th:field="*{teamId}" >
                    <option
                            th:each="ownedTeam: ${teamsOwned}"
                            th:text="${{ownedTeam.name}}"
                            th:value="${ownedTeam.id}"
                    ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Dodaj drużynę do turnieju</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>