<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="pl">
<head>
    <title>Turniej</title>
</head>
<body th:with="
isAdmin=${#authorization.expression('hasRole(''ADMIN'')')},
isOwnerOrAdmin=${isAdmin or #authentication.name == tournament.userOwner.username},
isOwnerOrAdminOrModerator=${isOwnerOrAdmin or tournament.isManagedByUser(#authentication.name)}
">

<h1><span th:text="${tournament.name}"/></h1>

<h2 th:if="${isModerator}">You are a moderator.</h2>

<div th:if="${isOwnerOrAdmin}">
    <form th:action="@{'/tournament/' + ${tournament.id} + '/edit'}" method="get">
        <input type="submit" value="Edytuj turniej"/>
    </form>
    <form th:action="@{'/tournament/' + ${tournament.id} + '/delete'}" method="post">
        <input type="submit" value="Usuń turniej"/>
    </form>
    <form>
        <input type="submit" value="Zakończ turniej"/> <!-- TODO implement -->
    </form>
    <br>
</div>

<table>
    <tr>
        <td>Właściciel:</td>
        <td th:text="${{tournament.userOwner.username}}"/>
    </tr>
    <tr>
        <td>Data rozpoczęcia:</td>
        <td th:text="${{tournament.startDate}}"/>
    </tr>
    <tr>
        <td>Data zakończenia:</td>
        <td th:if="${tournament.endDate} != null" th:text="${{tournament.endDate}}"/>
    </tr>
</table>

<h2>Lokalizacja</h2>

<div th:if="${tournament.location} == null" >
    Ten turniej nie ma zapisanej lokalizacji.
    <form th:if="${isOwnerOrAdmin}" th:action="@{'/tournament/' + ${tournament.id} + '/new/location'}" method="get">
        <input type="submit" value="Dodaj lokalizacje"/>
    </form>
</div>

<table th:if="${tournament.location} != null">
    <tr>
        <td>Kraj:</td>
        <td th:text="${{tournament.location.country}}"/>
    </tr>
    <tr>
        <td>Kod pocztowy:</td>
        <td th:text="${{tournament.location.postalCode}}"/>
    </tr>
    <tr>
        <td>Miasto:</td>
        <td th:text="${{tournament.location.city}}"/>
    </tr>
    <tr>
        <td>Ulica:</td>
        <td th:text="${{tournament.location.street}}"/>
    </tr>
    <tr>
        <td>Numer domu:</td>
        <td th:text="${{tournament.location.houseNumber}}"/>
    </tr>
</table>

<h2>Opis</h2>
<p th:text="${{tournament.description}}"/>

<h2>Drużyny</h2>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Punkty</th>
        <th th:if="${isOwnerOrAdmin}">
            Akcje
        </th>
    </tr>
    <tr th:each="teamRegistration: ${sortedTeamRegistrations}">
        <td>
            <a th:href="@{'/team/' + ${teamRegistration.team.id}}" th:text="${{teamRegistration.team.name}}"></a>
        </td>
        <td th:text="${{teamRegistration.scoreSum}}"/>

        <td th:if="${isOwnerOrAdmin}">
            <form>
                <input type="submit" value="Usuń"/> <!-- TODO implement -->
            </form>
        </td>
    </tr>
</table>


<h2>Mecze</h2>

<div th:if="${isOwnerOrAdminOrModerator}" >
    <form th:action="@{'/tournament/' + ${tournament.id} + '/new/match'}" method="get">
        <input type="submit" value="Dodaj nowy mecz"/>
    </form>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Drużyna 1</th>
        <th>Wynik drużyny 1</th>
        <th>Drużyna 2</th>
        <th>Wynik drużyny 2</th>
        <th th:if="${isOwnerOrAdminOrModerator}">
            Akcje
        </th>
    </tr>
    <tr th:each="match: ${sortedMatches}">
        <td>
            <a th:text="'[' + ${{match.id}} + ']'"></a>
        </td>
        <td th:text="${{match.date}}"/>
        <td>
            <a th:href="@{'/team/' + ${match.tournamentTeam1.team.id}}"
               th:text="${{match.tournamentTeam1.team.name}}"></a>
        </td>
        <td th:text="${{match.team1Score}}"/>
        <td>
            <a th:href="@{'/team/' + ${match.tournamentTeam2.team.id}}"
               th:text="${{match.tournamentTeam2.team.name}}"></a>
        </td>
        <td th:text="${{match.team2Score}}"/>

        <td th:if="${isOwnerOrAdminOrModerator}">
            <form th:action="@{'/match/' + ${match.id} + '/edit'}" method="get">
                <input type="submit" value="Edytuj"/>
            </form>
            <form th:action="@{'/match/' + ${match.id} + '/delete'}" method="post">
                <input type="submit" value="Usuń"/>
            </form>
        </td>
    </tr>
</table>


</body>
</html>