<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Użytkownik ' + ${user.username}"></title>
</head>
<body>

<section layout:fragment="content" th:with="
isAdmin=${#authorization.expression('hasRole(''ADMIN'')')},
canEdit=${isAdmin or #authentication.name == user.username}
">
    <div class="container">

        <table>
            <tr>
                <td>ID:</td>
                <td th:text="${{user.id}}"></td>
            </tr>
            <tr>
                <td>Nazwa:</td>
                <td th:text="${{user.username}}"></td>
            </tr>
            <tr>
                <td>Opis:</td>
                <td th:text="${{user.description}}"></td>
            </tr>
        </table>

        <div th:if="${canEdit}">
            <form th:action="@{'/user/' + ${userId} + '/edit'}" method="get">
                <input type="submit" value="Edytuj profil" class="btn btn-secondary"/>
            </form>
        </div>

        <h1>Założone drużyny</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team: ${teamsOwned}">
                <td th:text="${{team.name}}"></td>
                <td th:text="${{team.description}}"></td>
            </tr>
            </tbody>

        </table>

        <h1>Gracz w drużynach</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teamReg: ${teamRegistrations}">
                <td th:text="${{teamReg.team.name}}"></td>
                <td th:text="${{teamReg.team.description}}"></td>
            </tr>
            </tbody>

        </table>

        <h1>Założone turnieje</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tournament: ${tournamentsOwned}">
                <td th:text="${{tournament.name}}"></td>
                <td th:text="${{tournament.description}}"></td>
                <td th:text="${{tournament.startDate}}"></td>
                <td th:if="${tournament.endDate != null}" th:text="${{tournament.endDate}}"></td>
            </tr>
            </tbody>

        </table>

        <h1>Zarządzane turnieje</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tournament: ${tournamentsManaged}">
                <td th:text="${{tournament.name}}"></td>
                <td th:text="${{tournament.description}}"></td>
                <td th:text="${{tournament.startDate}}"></td>
                <td th:if="${tournament.endDate != null}" th:text="${{tournament.endDate}}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
</body>
</html>