<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Użytkownik ' + ${user.username}"></title>
</head>
<body>

<section layout:fragment="content" th:with="
isAdmin=${#authorization.expression('hasRole(''ADMIN'')')},
canEdit=${isAdmin or #authentication.name == user.username}
">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna strona</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/user/list}" class="link-body-emphasis fw-semibold text-decoration-none">Użytkownicy</a>
                </li>
                <li th:text="${user.username}" class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>

        <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm text-body-inverted bg-body-inverted">
            <div class="lh-1">
                <h1 th:text="${user.username}"></h1>
            </div>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h5 class="border-bottom pb-2 mb-0">Opis</h5>
            <p th:text="${{user.description}}"/>
        </div>

        <div th:if="${canEdit}" class="d-flex gap-2">
            <form th:action="@{'/user/' + ${userId} + '/edit'}" method="get" class="m-0">
                <input type="submit" value="Edytuj profil" class="btn btn-secondary"/>
            </form>
            <form th:action="@{'/user/' + ${userId} + '/edit-password'}" method="get" class="m-0">
                <input type="submit" value="Edytuj hasło" class="btn btn-secondary"/>
            </form>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h1>Założone drużyny</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th th:if="${canEdit}">
                        Akcje
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team: ${teamsOwned}">
                    <td>
                        <a th:text="${{team.name}}" th:href="@{'/team/' + ${team.id}}"></a>
                    </td>
                    <td th:text="${{team.description}}"></td>
                    <td th:if="${canEdit}" class="d-flex gap-2">
                        <form th:action="@{'/team/' + ${team.id} + '/edit'}" method="get" class="m-0">
                            <input type="submit" value="Edytuj" class="btn btn-secondary btn-sm"/>
                        </form>
                        <form th:action="@{'/team/' + ${team.id} + '/delete'}" method="post" class="m-0">
                            <input type="submit" value="Usuń" class="btn btn-danger btn-sm"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h1>Gracz w drużynach</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Gra</th>
                    <th>Data dołączenia</th>
                    <th th:if="${canEdit}">
                        Akcje
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teamReg: ${teamRegistrations}">
                    <td>
                        <a th:text="${{teamReg.team.name}}" th:href="@{'/team/' + ${teamReg.team.id}}"></a>
                    </td>
                    <td th:text="${{teamReg.game.name}}"></td>
                    <td th:text="${{teamReg.joinDate}}"></td>
                    <td th:if="${canEdit}">
                        <form th:action="@{'/user/'+${user.id}+'/team/leave/'+${teamReg.id}}"
                              method="post" class="m-0">
                            <input type="submit" value="Odejdź" class="btn btn-danger btn-sm"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h1>Założone turnieje</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                    <th>Status</th>
                    <th th:if="${canEdit}">
                        Akcje
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tournament: ${tournamentsOwned}">
                    <td>
                        <a th:text="${{tournament.name}}" th:href="@{'/tournament/' + ${tournament.id}}"></a>
                    </td>
                    <td th:text="${{tournament.description}}"></td>
                    <td th:text="${{tournament.startDate}}"></td>
                    <td>
                        <span th:if="${tournament.endDate != null}" th:text="${{tournament.endDate}}"></span>
                    </td>
                    <td th:text="${tournament.finished} ? 'Zakończony' : 'Otwarty'"></td>
                    <td th:if="${canEdit}" class="d-flex gap-2">
                        <form th:action="@{'/tournament/' + ${tournament.id} + '/edit'}" method="get" class="m-0">
                            <input type="submit" value="Edytuj" class="btn btn-secondary btn-sm"/>
                        </form>
                        <form th:unless="${tournament.finished}" method="post" class="m-0"
                              th:action="@{'/tournament/' + ${tournament.id} + '/set-as-finished'}">
                            <input type="submit" value="Zakończ" class="btn btn-success btn-sm"/>
                        </form>
                        <form th:action="@{'/tournament/' + ${tournament.id} + '/delete'}" method="post" class="m-0">
                            <input type="submit" value="Usuń" class="btn btn-danger btn-sm"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h1>Zarządzane turnieje</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tournament: ${tournamentsManaged}">
                    <td>
                        <a th:text="${{tournament.name}}" th:href="@{'/tournament/' + ${tournament.id}}"></a>
                    </td>
                    <td th:text="${{tournament.description}}"></td>
                    <td th:text="${{tournament.startDate}}"></td>
                    <td>
                        <span th:if="${tournament.endDate != null}" th:text="${{tournament.endDate}}"></span>
                    </td>
                    <td th:text="${tournament.finished} ? 'Zakończony' : 'Otwarty'"></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</section>
</body>
</html>