<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title th:text="'Edycja użytkownika ' + ${editedUser.username}"></title>
</head>
<body>

<section layout:fragment="content">
    <div class="container">

        <div class="row justify-content-center">


            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                    <li class="breadcrumb-item">
                        <a th:href="@{/}" class="link-body-emphasis fw-semibold text-decoration-none">Główna
                            strona</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{/user/list}"
                           class="link-body-emphasis fw-semibold text-decoration-none">Użytkownicy</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{'/user/' + ${editedUser.id}}" th:text="${{editedUser.username}}"
                           class="link-body-emphasis fw-semibold text-decoration-none">
                        </a>
                    </li>
                    <li th:text="'Edycja użytkownika'" class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>


            <div class="col-12 col-sm-8 col-md-6 col-lg-4">


                <form action="#" th:action="@{'/user/' + ${userId} + '/edit-password'}" th:object="${passwordDto}" method="post"
                      autocomplete="off">

                    <h1 th:text="'Edytuj hasło użytkownika ' + ${editedUser.username}"
                        class="h3 mb-3 fw-normal text-center"></h1>

                    <div class="form-group mb-3">
                        <label for="password">Hasło</label>
                        <input type="password" th:field="*{password}" id="password" class="form-control"/>
                        <ul class="text-danger">
                            <li th:each="err: ${#fields.errors('password')}" th:text="${err}"></li>
                        </ul>
                    </div>


                    <button class="btn btn-primary w-100" type="submit">Edytuj</button>

                </form>

            </div>
        </div>

    </div>
</section>
</body>
</html>